doctype html  
html
  head
    title Todo List
    link(rel="stylesheet" href="/style.css")
  body
    h1 Simple To-Do List
    form(action="/", method="post")
      input(type="text", name="todo", placeholder="Enter a to do")
      br
      button(type="submit", class = "add-button") Add  
    p My TODO list 
    ul
      - for (task of tasks)
        li
          | #{task.task}
          br
          form(action="/delete", method="post", style="display:inline")
            input(type="hidden", name="id", value=task.id)
            button(type="submit", class = "delete-button") Delete
